mixin form-text(field)
    .form-group
        label.control-label(for="#{field.name}" class=field.labelClass || "col-sm-4") #{field.label}
        div(class=field.class || "col-sm-8") 
            input.form-control(type="#{field.type || 'text'}", name="#{field.name}" value='#{field.value || ""}' id='#{field.id || ""}')&attributes(field.attributes || {})
mixin form-markdown(field)
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css")
    script(src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js")
    script.
        $(document).ready(function() {
            var textArea = $("textarea")[0];
            var simplemde = new SimpleMDE({element : textArea, forceSync: true});
            simplemde.value(textArea.getAttribute("value"));
        })
    .form-group
        label.control-label.col-sm-4(for="#{field.name}") #{field.label}
        .col-sm-8
            textarea(type="text" name="#{field.name}" value="#{field.value || ''}")
mixin form-text-area(field)
    .form-group
        label.control-label.col-sm-4(for="#{field.name}") #{field.label}
        .col-sm-8
            textarea(type="text" name="#{field.name}") #{field.value || ""}
mixin form-check-box(field)
    .form-group
        div(class=field.class || ["col-sm-8", "col-sm-offset-4"])
            .checkbox
                label 
                    input(type="checkbox" name="#{field.name}" value=field.value || "on" checked=field.checked || false)
                    | #{field.label}
mixin form-submit(field)
    .form-group
        div(class =field.class || ["col-sm-8", "col-sm-offset-4"])
            input.btn.btn-primary.col-xs-12(type="submit" name="#{field.name || ''}" value="#{field.value}")
mixin form-place-picker(field)
    |  
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHJUpkaPHEY5Fr6YVfbY_pa30NGV8WB30&libraries=places" async defer)
    script.
        $(document).ready(function() {
            (function(fieldId) {
                var input = document.getElementById(fieldId+'_name');
                var autoCompleteBox = new google.maps.places.Autocomplete(input);
                autoCompleteBox.setTypes([]);
                autoCompleteBox.addListener('place_changed', function() {
                    var place = autoCompleteBox.getPlace();
                    var latitude = place.geometry.location.lat();
                    var longitude = place.geometry.location.lng();  
                    if (place == null) {
                        return;
                    }
                    console.log(place);
                    console.log(latitude);
                    console.log(longitude);
                    var placeIdInput = document.getElementById(fieldId+'_place_id');
                    placeIdInput.value = place.place_id;
                    var latIdInput = document.getElementById(fieldId+'_lat');
                    latIdInput.value = latitude
                    var lngIdInput = document.getElementById(fieldId+'_lng');
                    lngIdInput.value = longitude
                    var urlIdInput = document.getElementById(fieldId+'_url');
                    urlIdInput.value = place.url;
                });
            })('#{field.id}')
        });
    .form-group
        label.control-label.col-sm-4(for="#{field.name}[place_name]") #{field.label}
        .col-sm-8
            input.form-control(type="text", name="#{field.name}[place_name]" value='' id='#{field.id?field.id:""}_name')
            input.form-control(type="hidden", name="#{field.name}[place_id]" value='' id='#{field.id?field.id:""}_place_id')
            input.form-control(type="hidden", name="#{field.name}[url]" value='' id='#{field.id?field.id:""}_url')
            input.form-control(type="hidden", name="#{field.name}[lat]" value='' id='#{field.id?field.id:""}_lat')
            input.form-control(type="hidden", name="#{field.name}[lng]" value='' id='#{field.id?field.id:""}_lng')
form.form-horizontal(method="#{form.method}" action="#{form.action}")
    != form.header
    each field in form.fields
        if (field.type == 'checkbox')
            +form-check-box(field)
        else if (field.type == 'textarea')
            +form-text-area(field)
        else if (field.type == 'MDE')
            +form-markdown(field)
        else if (field.type == 'submit')
            +form-submit(field)
        else if (field.type == 'PlacePicker')
            +form-place-picker(field)
        else
            +form-text(field)
